.thumbnail{
    max-width: 150px;
    max-height: 150px;
}

img{
    max-width: 250px;
    max-height: 250px;
}

body{
    background-color: #eaeaea !important;
}

.container{
    background-color: #FFF;
    padding: 25px !important;
}

.btn-link{
    color: #000 !important;
}

h6{
    line-height: 1.5 !important;
}
